
{% extends "navbar.html" %}
{% block content %}

<style>

body{
  background-color: black;
}

#page{
  position: absolute;
  top: 150px;
  height: fit-content;
  width: fit-content;
}
.form-control{
 width: 100%;
 height: 50px;
 text-align: center;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 margin: auto;
 
}
#passwords{
  border: 1px solid #000000;
  background-color: white;
  margin-bottom: 20px;
  text-align: center;
  
}
#old_passsword{
  border: 1px solid #111;
  margin-top: 10px;
  margin-bottom: 10px;
}
#page{
        width: 20%;
        position: absolute;
        margin:  auto;
        left: 0;
        right: 0;
        padding: 20px;
        background: #ebebeb;
}
#subm
{
  width: 100%;
  background-color: transparent;
  border: 2px solid #111;
  color: white;
  background-color: blue;
}
li
{
  color: rgb(0, 0, 0);
}
.messages>li{
  color: red;
}
</style>




<div id="page">

  <h2>Change password</h2>
  <form action="{% url 'change_password' request.user.id %}" id="form" method="POST">
      {% csrf_token %} 
      <div id="passwords">
        {{form.password1}}
        {{form.password2}}
    </div>
    
  
    
      <input id="old_passsword" type="text" placeholder="old password" name="oldpassword" >
      <input id=subm type="submit">
      <div id=errors >

        {% for field in form %}
        {% if field.help_text %}
          <small  >{{field.help_text}}</small>
        {% endif %}
      {% endfor %}
        
        {% if messages %}
        <ul class="messages" >
            {% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}}" {%endif%} >{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>
    
  </form>
   
</div>
<script>
  var form_fields = document.getElementsByTagName('input')
  form_fields[1].placeholder='new password..';
  form_fields[2].placeholder='reenter password..';
  form_fields[3].placeholder='old password...';
  
  for (var field in form_fields){	
  form_fields[field].className += 'form-control'
  }
</script>

{% endblock %}