@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body {
    margin: 0;
    height: 100vh;
    font-weight: 100;
    background: radial-gradient(#ffffff,#b8b5b5);
    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}

#title
{
  background: -webkit-linear-gradient(#b9b6b6, #0c0c0c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 50px;  
  position: relative;
  text-align: center;
  margin: auto;
  z-index: 2;
  border-bottom: 2px solid rgb(0, 0, 0);
}

#register-section {
  width: 600px;
  height: 760px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0;
  right: 0;

  margin: auto;
  z-index: 3;
  transition: box-shadow 0.7s, transform 1s;
  
  background-size: cover;
  background-position: center !important;
  transition: all 1s;
}

#register-section:hover{
  box-shadow: 10px 10px 25px rgba(0,0,0, .7);
}

.mai_mic{
  background-color: #c0090917;
  height: 700px !important;
  transform: translateY(-100px);
}

#formid
{
  position: relative;
  z-index: 1;
  padding-top: 0;
  transition:all 1s;
  border: none;
  background: none;
}
form
{
 
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: 1px solid #111;
  padding: 25px;
  background-color: #ffffff;
  
}
.form_left
{
  transform: translateX(-210px) !important;
  opacity: 0.8;
  border: none !important;
}

button{
  position: absolute;
  border: 2px solid white;
  background: rgba(0,0,0, .25);
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 50%;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  opacity: .5;

  top: 68%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;

  transition: .3s;
}

button:hover{
  border: 2px solid #104F55;
  background-color: rgba(365,365,365,0.5);
  cursor: pointer;
  color: #104F55;
  opacity: .8;
  transition: .3s;
  
}
#errorbtn
{
  height: fit-content;
  position: absolute;
  margin-top: 180px;
}

.maimic{
  top: 71%;
  height: 35px !important;
  font-size: medium;

}
.arrowmaimic{
  top:6vh !important;
}
.errorbtn_little{
  margin-top: 160px !important;
}

.btn
{
  position: relative;
  width: 500px;
  height: 50px;
  background-color: transparent;
  border: 2px solid rgb(252, 252, 252);
  left: 0;
  color: rgb(0, 0, 0);

  bottom: 0;
  right: 0;
  margin: auto;
  margin-top: 35px;
}
.btn:hover
{
  background-color: antiquewhite;
  color: #000000;
  border: 4px solid #000000;
}



#bonus_info
{
  z-index: 3 !important;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 10%;
  margin:auto;
  width: 500px;
  height: 500px;
  background-color: #020202;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  background-color: rgba(12, 199, 58, 0.527);
  box-shadow: -7px 7px 18px rgba(0,0,0, .7);
  border-radius: 50px;

}

#bonus_info:hover{
  box-shadow: 10px 10px 25px rgba(0,0,0, .7);
}

.bonus_infoshow
{
  transform: translateX(310px);
  
  visibility:visible !important;
  opacity: 1 !important;
}

#bonus_info_elements{
  width: 350px;
  height: 250;
  padding-top: 50px;
  margin: auto;
 }

.login
{
  display: block;
  position: relative;
  font-size: 30px;
  text-align: center;
 
}

#bonus_info>#bonus_info_elements>svg
{
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
}

#bonus_info>#bonus_info_elements>a{
  display: block;
  position: relative;
  
  font-size: 30px;
  background: -webkit-linear-gradient(rgb(27, 26, 26),rgb(170, 170, 170));
    -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
  transition: all 0.5s; 
  text-align: center;
  text-decoration: none;
}
#bonus_info>#bonus_info_elements>a:hover
{
  font-size:40px;
  transform: translateY(-5px);
}



.errorlist
{
  position: relative;
  color: white; 
  list-style:none;
  text-align: center;
  padding-top: 15px;
}

#errors
{
  position: absolute;
  z-index: 2;
  border: 2px solid #111;
  border-radius: 5%;
  bottom: 0px;
  right: 0;
  left: 0;
  top: 75%;
  margin: auto;
  
  transform: translateY(-100px);
  opacity: 0;
  background-color: #c0090917;
  width:fit-content;
  height:fit-content;
  transition: all 1s;
  filter:blur(15%);

  
}
.appear
{
  opacity: 1 !important;
  transform: translateY(0px) !important;
  filter:blur(0%);

}



#email,#username ,#names
{
  position: relative;
  display:inline;
}
#password1, #password2
{
  position: relative;
  display:inline;
}
#password1>input #password2>input
{
  position: relative;
  width: 100px !important;
  padding: 0;
  margin: 0;
  display: inline;
}



input{

  z-index: 1;
    width: 500px !important;
    border:  2px solid #111 !important;
    padding: 10px !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top:35px;
    height: 38px;
    
  }

 #EMAIL, #username, #password1 ,#password2 ,#first_name ,#second_name
 {
  position: relative;
  display: flex;
 
 }
    
  .svgalign
  {
    position:absolute;
    right: 0;
   
   top: 0;
   bottom: 0;
   margin: auto;
   z-index: 2;
   margin-top: 42px;
   margin-right: 8px;
   
  }
  #arrow
  {
    position: absolute;
    left:0px;
    right: 0;
    top: 7vh;
    bottom: 0;
    margin: auto;
    transition: all 0.3s;
    
  }
  .moverotate
   {
        transform: translate(-50%,0)  rotate(180deg);
        cursor:pointer;
   }
  


#footer{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: white;
  position: fixed;
  -webkit-transform: translate(95vw,90vh);
  -moz-transform: translate(95vw,90vh);
  transform: translate(95vw,90vh);
  transform: translate(95vw,90vh);
}

.light {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: rgb(1, 1, 1);
  box-shadow: #ffffff 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1{
-webkit-animation: floatUp 4s infinite linear;
-moz-animation: floatUp 4s infinite linear;
-o-animation: floatUp 4s infinite linear;
animation: floatUp 4s infinite linear;
 -webkit-transform: scale(1.0);
 -moz-transform: scale(1.0);
 -o-transform: scale(1.0);
transform: scale(1.0);
}

.x2{
-webkit-animation: floatUp 7s infinite linear;
-moz-animation: floatUp 7s infinite linear;
-o-animation: floatUp 7s infinite linear;
animation: floatUp 7s infinite linear;
-webkit-transform: scale(1.6);
-moz-transform: scale(1.6);
-o-transform: scale(1.6);
transform: scale(1.6);
left: 15%;
}

.x3{
-webkit-animation: floatUp 2.5s infinite linear;
-moz-animation: floatUp 2.5s infinite linear;
-o-animation: floatUp 2.5s infinite linear;
animation: floatUp 2.5s infinite linear;
-webkit-transform: scale(.5);
-moz-transform: scale(.5);
-o-transform: scale(.5);
transform: scale(.5);
left: -15%;
}

.x4{
-webkit-animation: floatUp 4.5s infinite linear;
-moz-animation: floatUp 4.5s infinite linear;
-o-animation: floatUp 4.5s infinite linear;
animation: floatUp 4.5s infinite linear;
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
transform: scale(1.2);
left: -34%;
}

.x5{
-webkit-animation: floatUp 8s infinite linear;
-moz-animation: floatUp 8s infinite linear;
-o-animation: floatUp 8s infinite linear;
animation: floatUp 8s infinite linear;
-webkit-transform: scale(2.2);
-moz-transform: scale(2.2);
-o-transform: scale(2.2);
transform: scale(2.2);
left: -57%;
}

.x6{
-webkit-animation: floatUp 3s infinite linear;
-moz-animation: floatUp 3s infinite linear;
-o-animation: floatUp 3s infinite linear;
animation: floatUp 3s infinite linear;
-webkit-transform: scale(.8);
-moz-transform: scale(.8);
-o-transform: scale(.8);
transform: scale(.8);
left: -81%;
}

.x7{
-webkit-animation: floatUp 5.3s infinite linear;
-moz-animation: floatUp 5.3s infinite linear;
-o-animation: floatUp 5.3s infinite linear;
animation: floatUp 5.3s infinite linear;
-webkit-transform: scale(3.2);
-moz-transform: scale(3.2);
-o-transform: scale(3.2);
transform: scale(3.2);
left: 37%;
}

.x8{
-webkit-animation: floatUp 4.7s infinite linear;
-moz-animation: floatUp 4.7s infinite linear;
-o-animation: floatUp 4.7s infinite linear;
animation: floatUp 4.7s infinite linear;
-webkit-transform: scale(1.7);
-moz-transform: scale(1.7);
-o-transform: scale(1.7);
transform: scale(1.7);
left: 62%;
}

.x9{
-webkit-animation: floatUp 4.1s infinite linear;
-moz-animation: floatUp 4.1s infinite linear;
-o-animation: floatUp 4.1s infinite linear;
animation: floatUp 4.1s infinite linear;
-webkit-transform: scale(0.9);
-moz-transform: scale(0.9);
-o-transform: scale(0.9);
transform: scale(0.9);
left: 85%;
}



@-webkit-keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}



#head1, #head2,#head3, #head4, #head5{
opacity: 0;
}



#head1{
-webkit-animation: fadeOut 1 5s ease-in;
-moz-animation: fadeOut 1 5s ease-in;
-o-animation: fadeOut 1 5s ease-in;
animation: fadeOut 1 5s ease-in;
}

#head2{
-webkit-animation: fadeOut 1 5s ease-in;
-moz-animation: fadeOut 1 5s ease-in;
-o-animation: fadeOut 1 5s ease-in;
animation: fadeOut 1 5s ease-in;
-webkit-animation-delay: 6s;
-moz-animation-delay: 6s;
-o-animation-delay: 6s;
animation-delay: 6s;
}

#head3{
-webkit-animation: fadeOut 1 5s ease-in;
-moz-animation: fadeOut 1 5s ease-in;
-o-animation: fadeOut 1 5s ease-in;
animation: fadeOut 1 5s ease-in;
-webkit-animation-delay: 12s;
-moz-animation-delay: 12s;
-o-animation-delay: 12s;
animation-delay: 12s;
}

#head4{
-webkit-animation: fadeOut 1 5s ease-in;
-moz-animation: fadeOut 1 5s ease-in;
-o-animation: fadeOut 1 5s ease-in;
animation: fadeOut 1 5s ease-in;
-webkit-animation-delay: 17s;
-moz-animation-delay: 17s;
-o-animation-delay: 17s;
animation-delay: 17s;
}

#head5{
-webkit-animation: finalFade 1 5s ease-in;
-moz-animation: finalFade 1 5s ease-in;
-o-animation: finalFade 1 5s ease-in;
animation: finalFade 1 5s ease-in;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-delay: 22s;
-moz-animation-delay: 22s;
-o-animation-delay: 22s;
animation-delay: 22s;
}

@-webkit-keyframes fadeIn{
from{opacity: 0;}
to{opacity: 1;}
}

@-moz-keyframes fadeIn{
from{opacity: 0;}
to{opacity: 1;}
}

@-o-keyframes fadeIn{
from{opacity: 0;}
to{opacity: 1;}
}

@keyframes fadeIn{
from{opacity: 0;}
to{opacity: 1;}
}

@-webkit-keyframes fadeOut{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 0;}
}

@-moz-keyframes fadeOut{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 0;}
}

@-o-keyframes fadeOut{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 0;}
}

@keyframes fadeOut{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 0;}
}

@-webkit-keyframes finalFade{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 1;}
}

@-moz-keyframes finalFade{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 1;}
}

@-o-keyframes finalFade{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 1;}
}

@keyframes finalFade{
0%{opacity: 0;}
30%{opacity: 1;}
80%{opacity: .9;}
100%{opacity: 1;}
}